body {
    background-image: url("back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  nav {
    background-color: transparent;
    padding: 10px;
    text-align: right;
    
  }
   
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 10px;

  }
  
  nav ul li a:hover {
    transition: background-color 0.6s ease;
    background-color: #FFF9AE;
  }




.LOGO{ 
  position: relative;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

    
}









  .HEADER{
    text-align: right;
    margin: 25px 50px;
font: size 100px;
font-family: "Segoe UI",Arial,sans-serif;
    
  }
  .SUB{
     color: #FEBE5A;
    text-align: right;
    margin: 25px 50px;
    font: size 30px;
    font-family: "Segoe UI",Arial,sans-serif;
   
  }
